<a href="https://colab.research.google.com/gist/manishleo91/1ce9dc59eda9f900d5f5c63030e403c0/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
list = []
print(list)

list.append(1)
list.append(2)

print (list)

list.insert(3,3)
list.insert(4,'fourth')
list.insert(2,'two')
print(list)

list.extend([[5,'six','seven']])
print(list)

print(list[-3])

print("the size of list is: ")
print( len(list))

print(list[5][2])

list.remove([5,'six','seven'])
print(list)

for i in range(1,3):
  list.remove(i)
print(list)

list.pop()
print(list)

list.pop(0)
print(list)

[]
[1, 2]
[1, 2, 'two', 3, 'fourth']
[1, 2, 'two', 3, 'fourth', [5, 'six', 'seven']]
3
the size of list is:
6
seven
[1, 2, 'two', 3, 'fourth']
['two', 3, 'fourth']
['two', 3]
[3]